.empty {
    padding: 2rem 0;
}

.content-block {
    width: 100%;
    background-color: #888686;
    margin: 0;
    padding: 0;
}

.row1 {
    margin: auto;
    text-align: center;
    width: 14rem;
    height: 14rem;
    border: 0.1rem dashed #fff;
    border-radius: 50%;
}

.row1 h1,
.row1 h4,
.row1 p {
    color: #fff;
    margin-top: 0;
}

.row1 h1 {
    margin: 0;
    padding-top: 1.5rem;
    font-size: 3.6rem;
}

.row2 {
    display: block;
    padding-top: 4rem;
}

.row2,
.row3 {
    margin: auto;
}

.col-33 {
    padding-left: 4%;
}

.col-33 p {
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    color: #FFF;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .content-block {
        padding-top: 1rem;
    }
    .row2 {
        padding-top: 0;
    }
}
/*形状盒子*/
/*/圆形*/
.circular {
    display: block;
	width: 2.5rem;
    height: 2.5rem;
    padding-top: 0.6rem;
    font-family: '微软雅黑 Regular', '微软雅黑';
    text-align: center;
    color: #bcbcbc;
    border: 0.05rem solid #bcbcbc;
    border-radius: 50%;
}
/*字体图标大小调整*/
.iconfont{
    padding-top: 0.25rem;
    font-size: 1.25rem;
}

/*各种状态的类写在这里*/
/*设备开启状态下，车内空气质量良好*/
.device-on.excellent{
    background-color: #1ba365;
}
/*设备开启状态下车内空气中等*/
.device-on.medium{
    background-color: #e4cb2b;
}
/*设备开启，空气差*/
.device-on.warning{
	background-color: #d60000;
}
/*设备关闭*/
.device-off{
	background-color: #888686;
}
/*允许操作*/
.enable{
	background-color: #1ba365;
	color: #fff;
	border-color: #1ba365;
}
.enable:active{
	opacity: 0.9;
}
/*不允许操作*/
.disable{
	color: #000;
	background-color: #888686;
	border-color: #888686;
}
